@using TMDT.Services
@model Product
@{
	ViewData["Title"] = "Detail Product";
	ProductImageService _productImageService = new ProductImageService();
	var _lstImg = _productImageService.GetProductImageByProductId(Model.ProductId ?? default);
}
<style>
	.number-input {
		display: flex;
		align-items: center;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px;
	}

	.input-field {
		margin-left: 10px;
		width: 50px;
		text-align: center;
		border: none;
		background-color: transparent;
		pointer-events: none;
	}

	.minus-button,
	.plus-button {
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent;
		color: #337ab7;
		font-weight: bold;
		cursor: pointer;
	}

		.minus-button:hover,
		.plus-button:hover {
			color: #286090;
		}
</style>

<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-2" style="text-align:center; overflow-y: auto; max-height: 760px;">
				@foreach (var x in _lstImg)
				{
					<div class="mb-3">
						<img class="img-thumbnail chooseImg" src="/images/@x.Url" alt="" style="max-width: 100%; height: auto;" onclick="displayImage(this)" />
					</div>
				}
			</div>
			<div class="col-md-10" style="text-align:center">
				<img id="detailImg" class="img-thumbnail" src="/images/@_lstImg.First().Url" alt="" style="max-width: 100%; height: auto;" />
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h2>@Model.Name</h2>
		<h3 style="color:red">@Model.LastPrice$</h3>
		<div class="mb-3" style="display:flex;align-items:center">
			<label style="margin-right:10px">
				<h4>
					Số lượng
				</h4>
			</label>
			<div class="number-input">
				<div class="input-wrapper">
					<button class="minus-button" onclick="truSL()">-</button>
					<input type="number" class="input-field" id="inputSL" value="1">
					<button class="plus-button" onclick="congSL()">+</button>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-secondary mb-3"
				name="add" style="width:100%;height:50px">
			Thêm vào giỏ
		</button>
		<div class="mb-3">
			<span>Mô tả</span>
			<p style="white-space:pre-line">@Model.Description</p>
		</div>
	</div>
</div>
<script>
	function truSL() {
		var inputElement = document.getElementById("inputSL");
		var currentValue = parseInt(inputElement.value);
		if (currentValue > 1) {
			inputElement.value = currentValue - 1;
		}
	}

	function congSL() {
		var inputElement = document.getElementById("inputSL");
		var currentValue = parseInt(inputElement.value);
		inputElement.value = currentValue + 1;
	}

	function displayImage(img) {
		var detailImg = document.getElementById('detailImg');
		detailImg.src = img.src;
	}

</script>