@using TMDT.Services
@model IEnumerable<TMDT.Models.OrderItem>
@{
	ViewData["Title"] = "Cart";
	ProductService _productService = new();
	decimal _tongTien = 0;
	foreach (var x in Model)
	{
		_tongTien += (decimal)x.Quantity * x.Price;
	}
}

<div class="row">
	<div class="col-md-8">
		<p style="font-size:21px;font-weight:500;font-family:Futura;margin-bottom:10px">Giỏ hàng</p>
		@if (Model.Count()>0)
		{
			foreach (var item in Model)
			{
				<div style="display:flex;justify-content:space-between;font-family:'Times New Roman'">
					<div style="display:flex;justify-content:center;">
						<a href=""><img src="/images/1.png" alt="" style="width:110px;height:110px;"></a>
						<div style="display:flex;flex-direction:column;justify-content:space-between;color:#333333;font-weight:700;font-size:17px;margin-left:20px">
							<label>@_productService.GetProductByProductId(item.ProductId).Name</label>
							@_productService.GetProductByProductId(item.ProductId).LastPrice
							<b style="font-weight:600">
								x@(item.Quantity)
							</b>
						</div>
					</div>
					<div style="display:flex;flex-direction:column;justify-content:space-between;text-align:right">
						<label style="cursor:pointer;"><a asp-action="DeleteOI" asp-route-ProductId="@item.ProductId">Xóa sản phẩm</a></label>
						<label><b style="font-size:18px"></b></label>
					</div>
				</div>
				<hr style="margin-top:10px;margin-bottom:10px;height:2px" />
			}
		}
		else
		{
			<div style="display:flex;justify-content:center">
				<img src="/images/noProductInCart.png" style="width:20%;" />
			</div>
		}
	</div>
	<div class="col-md-4">
		<p style="font-size:21px;font-weight:500;font-family:Futura">Đơn hàng</p>
		<div style="border:1px solid #333333;padding: 25px;">
			<div class="mb-3" style="display:flex;justify-content:space-between;line-height:33px;text-align:center">
				<label style="vertical-align:middle">Tổng tiền</label>
				<label style="color:#e32124;font-size:22px"><b>@_tongTien$</b></label>
			</div>
			<div>
				<button style="	width: 100%;
								border: none;
								background-color: #e32124;
								color: #ffffff;
								padding: 15px;">
					Thanh toán
				</button>
			</div>
		</div>
	</div>
	<div>
		@using (Html.BeginForm("ShowAllProduct", "Home"))
		{
			<button style="	color: #ffffff;
						background-color: #333333;
						padding: 8px 25px;
						font-size: 15px;"
					type="submit">
				TIẾP TỤC MUA SẮM SẢN PHẨM KHÁC
			</button>
		}
	</div>
</div>