@using TMDT.Services
@model TMDT.Models.Product

@{
	ViewData["Title"] = "Adm_UpdateProduct";
	CategoryService _categoryService = new CategoryService();
}

<h1>Update Product</h1>

<h4>Product</h4>
<hr />
<div class="row">
	<div class="col-md-5">
		<form asp-controller="Product" asp-action="Adm_UpdateProduct" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="ProductId" class="form-control" style="display:none" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input type="text" step="0.01" class="form-control" id="price" name="Price" value="@Model.Price.ToString().Replace(',','.')" />
				@* <span asp-validation-for="Price" class="text-danger"></span> *@
			</div>
			<div class="form-group">
				<label asp-for="LastPrice" class="control-label"></label>
				<input type="text" step="0.01" class="form-control" id="price" name="LastPrice" value="@Model.LastPrice.ToString().Replace(',','.')" />
				@* <span asp-validation-for="LastPrice" class="text-danger"></span> *@
			</div>
			<div class="form-group">
				<label class="control-label">Category</label>
				<select asp-for="CategoryId" class="form-control">
					@foreach (var x in ViewBag.LstCate)
					{
						<option value="@(_categoryService.GetCategoryByCategoryName(x).CategoryId)">@x</option>
					}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
